[submodule "poc/rails-typescript"]
	path = poc/rails-typescript
	url = git@github.com:sibabale/rails-typescript.git
[submodule "poc/documentation"]
	path = poc/documentation
	url = git@github.com:sibabale/documentation
