[submodule "poc/rails-typescript"]
	path = poc/rails-typescript
	url = git@github.com:sibabale/rails-typescript.git
[submodule "poc/documentation"]
	path = poc/documentation
	url = git@github.com:sibabale/documentation
[submodule "mvp/rails-ts-sdk"]
	path = mvp/rails-ts-sdk
	url = https://github.com/sibabale/rails-ts-sdk
[submodule "mvp/rails-docs"]
	path = mvp/rails-docs
	url = git@github.com:sibabale/rails-docs.git
[submodule "mvp/rails-client-server"]
	path = mvp/rails-client-server
	url = git@github.com:sibabale/rails-client-server.git
[submodule "mvp/rails-web"]
	path = mvp/rails-web
	url = git@github.com:sibabale/rails-web.git
