# Dependency directories
node_modules/
jspm_packages/
.pnp/
.pnp.js

# Build outputs
dist/
build/
out/
.next/
.serverless/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Misc
.vercel
.cache/
.eslintcache
.stylelintcache
.node_repl_history

# Rust
target/
**/*.rs.bk
jwt_token.txt
